# Practical 1
---
**ID:** 17CE023<br>
**Author:** Bhishm Daslaniya<br>

---
**Aim:** Data Preprocessing using Pandas (Handling Missing Value, Data Wrangling, Dimension Reduction)

---
# Handling missing data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Working with Missing Data in Pandas

Missing Data can occur when no information is provided for one or more items or for a whole unit. Missing Data is a very big problem in real life scenario. Missing Data can also refer to as NA(Not Available) values in pandas. In DataFrame sometimes many datasets simply arrive with missing data, either because it exists and was not collected or it never existed. For Example, Suppose different user being surveyed may choose not to share their income, some user may choose not to share the address in this way many datasets went missing.


In Pandas missing data is represented by two value:

None: None is a Python singleton object that is often used for missing data in Python code.

NaN : NaN (an acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation

In [2]:
data=pd.read_csv("D:\DWDM_Lab\Datasets\weather_data.csv")

In [3]:
data

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017          NaN        9.0     Sunny
2  01-05-2017         28.0        NaN      Snow
3  01-06-2017          NaN        7.0  No Event
4  01-07-2017         32.0        NaN      Rain
5  01-08-2017          NaN        NaN     Sunny
6  01-09-2017          NaN        NaN  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

## isnull() & notnull()

Used to check weather dataset contains null values or not.

In [4]:
data.isnull().sum()

day            0
temperature    4
windspeed      4
event          0
dtype: int64

If the column contain more than 50% value as null then you can remove that column.   
Because it doesn't give any valuable information

In [5]:
data.describe()

       temperature  windspeed
count      5.00000   5.000000
mean      33.20000   8.400000
std        4.38178   2.302173
min       28.00000   6.000000
25%       32.00000   7.000000
50%       32.00000   8.000000
75%       34.00000   9.000000
max       40.00000  12.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          9 non-null      object
 1   temperature  5 non-null      float64
 2   windspeed    5 non-null      float64
 3   event        9 non-null      object
dtypes: float64(2), object(2)
memory usage: 416.0+ bytes

## data1=data
In this data1 is also changes as data changes

## data1=data.copy() 
In this data1 will not affect as data changes

In [7]:
data1=data.copy()

## Use of fillna()
To fill the null value

In [8]:
data.fillna(0)

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017          0.0        9.0     Sunny
2  01-05-2017         28.0        0.0      Snow
3  01-06-2017          0.0        7.0  No Event
4  01-07-2017         32.0        0.0      Rain
5  01-08-2017          0.0        0.0     Sunny
6  01-09-2017          0.0        0.0  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

In [9]:
data.temperature.fillna(method='ffill',inplace=True)
data.windspeed.fillna(method='bfill',inplace=True)
print(data)
data=data1.copy()

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017         32.0        9.0     Sunny
2  01-05-2017         28.0        7.0      Snow
3  01-06-2017         28.0        7.0  No Event
4  01-07-2017         32.0        8.0      Rain
5  01-08-2017         32.0        8.0     Sunny
6  01-09-2017         32.0        8.0  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

In [10]:
data.event.value_counts()

Sunny       3
Rain        2
No Event    2
Cloudy      1
Snow        1
Name: event, dtype: int64

## Fill null value with mean(), median(), mode()

In [11]:
data.event.fillna(data.event.mode()[0],inplace=True)
data.temperature.fillna(data.temperature.median(),inplace=True)
data.windspeed.fillna(data.windspeed.median(),inplace=True)
print(data)

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017         32.0        9.0     Sunny
2  01-05-2017         28.0        8.0      Snow
3  01-06-2017         32.0        7.0  No Event
4  01-07-2017         32.0        8.0      Rain
5  01-08-2017         32.0        8.0     Sunny
6  01-09-2017         32.0        8.0  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

## interpolation()
It uses various interpolation technique to fill the missing values rather than hard-coding the value.      
There are various method like linear,nearest,quadratic etc. are used in interpolate to fill the null value

In [12]:
data1.interpolate(method='linear',limit_direction='forward')

          day  temperature  windspeed     event
0  01-01-2017    32.000000       6.00      Rain
1  01-04-2017    30.000000       9.00     Sunny
2  01-05-2017    28.000000       8.00      Snow
3  01-06-2017    30.000000       7.00  No Event
4  01-07-2017    32.000000       7.25      Rain
5  01-08-2017    32.666667       7.50     Sunny
6  01-09-2017    33.333333       7.75  No Event
7  01-10-2017    34.000000       8.00    Cloudy
8  01-11-2017    40.000000      12.00     Sunny

In [13]:
data1.interpolate(method='nearest',limit_direction='forward')

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017         32.0        9.0     Sunny
2  01-05-2017         28.0        9.0      Snow
3  01-06-2017         28.0        7.0  No Event
4  01-07-2017         32.0        7.0      Rain
5  01-08-2017         32.0        7.0     Sunny
6  01-09-2017         34.0        8.0  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

## Use of dropna()

In [14]:
data1.dropna()

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

## dropna(how = 'all') 
  To drop the rows which contains all the null value
## dropna(how='any') 
  To drop the rows which contain at least one null value

In [15]:
data1.dropna(how = 'all')

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017          NaN        9.0     Sunny
2  01-05-2017         28.0        NaN      Snow
3  01-06-2017          NaN        7.0  No Event
4  01-07-2017         32.0        NaN      Rain
5  01-08-2017          NaN        NaN     Sunny
6  01-09-2017          NaN        NaN  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

In [16]:
data1.dropna(how = 'any')

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [17]:
df=pd.read_csv("D:\DWDM_Lab\Datasets\weather_data1.csv")

In [18]:
df

          day  temperature  windspeed     event
0  01-01-2017           32          6      Rain
1  01-02-2017       -99999          7     Sunny
2  01-03-2017           28     -99999      Snow
3  01-04-2017       -99999          7  No Event
4  01-05-2017           32     -99999      Rain
5  01-06-2017           31          2     Sunny
6  01-06-2017           34          5  No Event

## Use of replace()
syntax:-series.replace(to_replace,with_value)

Some time it is possible that data contain some unnecessary value(-99999) and in the categorical feature it's 'No Event';
so we have to replace it with null value

In [19]:
df.temperature.replace(-99999,np.nan,inplace=True)
df.windspeed.replace(-99999,np.nan,inplace=True)
df.event.replace("No Event",np.nan,inplace=True)
print(df)

          day  temperature  windspeed  event
0  01-01-2017         32.0        6.0   Rain
1  01-02-2017          NaN        7.0  Sunny
2  01-03-2017         28.0        NaN   Snow
3  01-04-2017          NaN        7.0    NaN
4  01-05-2017         32.0        NaN   Rain
5  01-06-2017         31.0        2.0  Sunny
6  01-06-2017         34.0        5.0    NaN

---